@{
    ViewBag.Title = "LogViewer";
}
<link href="~/App_Plugins/LogViewer/logviewer.css" rel="stylesheet" />
<div ng-app="umbraco">

    <div ng-include="'/App_Plugins/LogViewer/logviewer.html'"></div>

    <div ng-controller="testController">
        <select ng-model="level" ng-options="l for l in levels"></select>
        <input type="button" value="Add message" ng-click="add()" />
    </div>

</div>
@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App_Plugins/LogViewer/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/Scripts/testapp.js"></script>
    <script src="~/App_Plugins/LogViewer/logviewer.js"></script>
}
