@inherits System.Web.Mvc.WebViewPage

<div ng-controller="logViewerController" class="log-container" log-fillscreen>
    
    <div class="checkbox-inline autoScroll">
        <input type="checkbox" name="autoScroll" id="autoScroll" ng-model="autoScroll" />
        <label for="autoScroll">Autoscroll</label>
    </div>
    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="tab.class">
            <a href="javascript:void(null);" ng-click="navigate(tab)">{{tab.name}}</a>
        </li>
    </ul>

    <pre id="signalRLog" class="log-tab-view" ng-show="showSignalR" ng-model="messages" log-autoscroll="autoScroll"><span ng-repeat="message in messages" class="level" ng-class="message.level.toLowerCase()">{{message.timeStamp | date:'dd.MM.yyyy HH:mm:ss'}}: {{message.level}} {{message.logger}} - {{message.message}}
</span></pre>
    <pre id="fileLog" class="log-tab-view" ng-show="showFile"><span ng-repeat="line in filelog" class="level" ng-class="findLevel(line)">{{line.line}}
</span></pre>

</div>

