.log-panel {
    margin-top: -30px;
}

.log-panel .nav {
    margin-bottom: 0;
}

.log-container {
    position: relative;
    padding-top: 10px;
    overflow: hidden;
}

.log-tab-view {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
}

.autoScroll {
    float: right;
}

.autoScroll label {
    display: inline-block;
}

.level.error {
    color: red;
}

.level.debug {
    color: teal;
}

.level.info {
    color: green;
}